<!doctype html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>News</title>

		<link rel="stylesheet" href="../src/css/style.css" />

		<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	</head>

	<body>

		<h1> TP4 JS </h1>

		<div>
			<a href="#" class='tab' data-target="#articlesSearchTab">Article & search</a>
			<a href="#" class='tab' data-target="#addArticleTab">Add article</a>
		</div>

		<div class="onglet" id="articlesSearchTab">
			<section id="news">
				<h3 id="titleNews"></h3>
				<news v-for="article in arts"
					  v-bind:article="article"
					  v-for:key="article.id">
				</news>
			</section>
		</div>

		<div class="onglet d-none" id="addArticleTab">
			<form id="addNewsForm">
				<fieldset>
					<label>Nom de la news :</label><br/>
					<input name="titleToAdd" type="text" /><br/>

					<label>Description de la news :</label><br/>
					<textarea name="descriptionToAdd"></textarea><br/>

					<input type="submit" name="addNewsBtn" />
				</fieldset>
			</form>
		</div>
	</body>

	<script src="../src/js/article.js"></script>
	<script src="../src/js/const.js"></script>
	<script src="../src/js/log.js"></script>
	<script src="../src/js/math.js"></script>
	<script src="../src/js/html.js"></script>
	<script src="../src/js/main.js"></script>
</html>