<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
	<head>
		<meta charset="UTF-8">

		<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/vue@next"></script>
	</head>

	<body>

		<h1 class="test" data-test="true" custom-attr-test="toto">TP2 JS</h1>
		<h1 class="test" data-test="true">TP2 JS</h1>

		<section id="news">
			<h2 id="titleNews"> {{ counter }} {{ title }}</h2>
<!--			<article>-->
<!--				<h3 class="title"> News 1</h3>-->
<!--			</article>-->

<!--			<article>-->
<!--				<h3 class="title">News 2</h3>-->
<!--			</article>-->

<!--			<article>-->
<!--				<h3 class="title">News 3</h3>-->
<!--			</article>-->
			<news-item v-for="article in articles"
					   v-bind:article="article"
					   v-bind:key="article.id">
			</news-item>
		</section>

		<form id="addNewsForm">
			Nom de la news : <input name="titleToAdd" type="text" />

			<input type="submit" name="addNewsBtn" />
		</form>
	</body>

	<script src="../src/js/human.js"></script> <!-- La déclaration des classes doit être appelée en premier -->
	<script src="../src/js/const.js"></script>
	<script src="../src/js/log.js"></script>
	<script src="../src/js/math.js"></script>
	<script src="../src/js/html.js"></script>
	<script src="../src/js/articleHtml.js"></script>
	<script src="../src/js/main.js"></script>
</html>